@using Pustok_Temp.Areas.Manage.ViewModels.Book;
@using Pustok_Temp.Models;
@model CreateBookVM;
<div class="container">
    <form method="post" enctype="multipart/form-data">
        <div class="row">
            <div class="mb-3 col-md-3">
                <label asp-for="Title" class="form-label">Title</label>
                <input asp-for="Title" class="form-control">
                <span asp-validation-for="Title" style="color:red"></span>
            </div>
            <div class="mb-3 col-md-3">
                <label asp-for="Price" class="form-label">Price</label>
                <input asp-for="Price" class="form-control">
                <span asp-validation-for="Price" style="color:red"></span>
            </div>
            <div>
                <label asp-for="AuthorId">Authors</label>
                <select class="form-select" asp-for="AuthorId" asp-items="new SelectList(ViewBag.authors,nameof(Author.Id),nameof(Author.Name))">
                    <option selected>Select Author</option>
                </select>
            </div>
            <div>
                <label>Tags</label>
                <select asp-for="TagIds" class="form-select" aria-label="multiple select example" asp-items="new SelectList(ViewBag.tags,nameof(Tag.Id),nameof(Tag.Name))">
                    <option selected>Select Tags</option>
                </select>
            </div>
            <div class="mb-3 col-md-3" style="padding:70px 10px">
                <label asp-for="MainPhoto" class="form-label">Main Photo</label>
                <input asp-for="MainPhoto" class=" form-control">
                <span asp-validation-for="MainPhoto" style="color:red"></span>
            </div>
            <div class="mb-3 col-md-3" style="padding:70px 10px">
                <label asp-for="HoverPhoto" class="form-label">Hover Photo</label>
                <input asp-for="HoverPhoto" class=" form-control">
                <span asp-validation-for="HoverPhoto" style="color:red"></span>
            </div>
            <div class="mb-3 col-md-3" style="padding:70px 10px">
                <label asp-for="Photos" class="form-label">Image File</label>
                <input asp-for="Photos" class=" form-control">
                <span asp-validation-for="Photos" style="color:red"></span>
            </div>

            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </form>
</div>